# Environment
lang en_US.UTF-8
keyboard us
timezone UTC
poweroff
text
install
selinux --permissive
cdrom
eula --agreed
firstboot --disable
auth --enableshadow --passalgo=sha512
skipx
rootpw default


# Storage
bootloader --location=mbr --boot-drive=vda --append="net.ifnames=0 biosdevname=0"
zerombr
clearpart --none --initlabel
# XFS in CentOS 8 doesn't cooperate with older versions of libguestfs
part / --fstype="ext4" --grow --size=1
firewall --disabled
services --enabled=sshd


# Network
#network --device="eth0" --bootproto="static" --ip="192.168.1.199" --gateway="192.168.1.1" --netmask="255.255.255.0" --nameserver="8.8.8.8"
network --device="eth0" --bootproto="dhcp"

# Packages
%packages --ignoremissing
@core
wget
unzip
vim
bash-completion
net-tools
# Stuff to remove from @core
-alsa-lib
-alsa-firmware
-alsa-tools-firmware
-desktop-file-utils
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-microcode_ctl
-xdg-utils
%end

%post --nochroot
dnf -y update
%end